* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



.App {
  background-color: #000;
  height: 100vh;
  display: grid;
  place-content: center;
  overflow: hidden;
  

}

main {

  aspect-ratio: 9/16;
  border-radius: 3px;
  overflow: scroll;
  /* max-width: 375px; 
  width: 100vw;   */
  display: block;
  scroll-snap-type: y mandatory;
}

.video {
  width: 100%;
  height: 100%;
  /* min-width: 100vh;
  min-height: 100vh;  */

}

.wrapper {
  position: relative;

}

.player {
  width: 64px;
  height: 64px;
  background-image: url(assets/player-play-29dbf3a9569e52354bc2f980931a6329.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  inset: 0;
  margin: auto;
  background-color: transparent;
  border: 0;
}

.hidden {
  opacity: 0;
}
